@using la_mia_pizzeria_static.Models.Partial

@{
    @model PizzaCategories
    

    Layout = "_MenuLayout";
}

<div class="text-center">
    
        
        <div class="form-group">
            <label>Inserisci il titolo del messaggio *</label>
            <input type="text" id="titolo" name="Titolo" class="form-control" placeholder="titolo">
        </div>
        <div class="form-group">
            <label>Inserisci il messaggio che vuoi mandarci</label>
            <textarea name="Commento" id="commento" class="form-control" rows="3"></textarea>
        </div>

        <button class="btn btn-primary" onclick="InviaCommento()">Invia commento</button>
    
</div>


<script>

    function InviaCommento(e){
        //e.preventDefault();

        let titolo = document.getElementById("titolo").value;
        let commento = document.getElementById("commento").value;

        axios.post("api/Messages", {
            params: {
                titolo,
                commento
            }
        }).then((response) => {
            console.log(response);
        }).catch((error) => {
            console.log(error);
        })


    }

</script>

