<h1>Chiamata API delle pizze</h1>

<div class="search">
    <input id="search" type="text" placeholder="Cerca una specifica pizza qui" onkeyup="cerca()"/>
</div>

<a asp-controller="Home" asp-action="Contact">Vuoi scriverci un messaggio? Clicca qui</a>

<div id="container">

</div>

<script>
    axios.get("api/Pizzas")
        .then(function(response){
            console.log(response.data);
            
            //scorro tra tutte le pizze, e le stampo in base alla presenza della categoria
            response.data.forEach(function(pizza) {

                if(pizza.category != null){

                    document.getElementById("container").innerHTML += 
                        `<div class="card">
                            <h2>${pizza.nome}</h2>
                            <p>${pizza.descrizione}</p>
                            <img src="${pizza.immagine}" alt="${pizza.nome}"
                            <h4>${pizza.prezzo}€</h4>
                            <p style="color:red;" >${pizza.category.nome}</p>
                            <a href="Home/Show/${pizza.id}">Mostra dettagli</a>
                        </div>`;
                }else{
                    document.getElementById("container").innerHTML += 
                        `<div class="card">
                            <h2>${pizza.nome}</h2>
                            <p>${pizza.descrizione}</p>
                            <img src="${pizza.immagine}" alt="${pizza.nome}"
                            <h4>${pizza.prezzo}€</h4>
                            <a href="Home/Show/${pizza.id}">Mostra dettagli</a>
                        </div>`;
                }
            })
        })
    function cerca() {


        document.getElementById("search").addEventListener("keyup", function(e){

            //bonus, parte la ricerca solo quando si preme enter
            if (e.key == "Enter") {
                let search = document.getElementById("search").value;
                FiltraPizze(search);

            }
        })
    }

    function FiltraPizze(search){
        
        //piccolo imprevisto, dati ripetuti
        console.log("La ricerca è: " + search);
        document.getElementById("container").innerHTML = "";

        axios.get("api/Pizzas", {
            params: {
                search,
            }
        }).then((response) => {
            console.log(response.data);
            response.data.forEach(function(pizza) {

                if(pizza.category != null){

                    document.getElementById("container").innerHTML += 
                        `<div class="card">
                            <h2>${pizza.nome}</h2>
                            <p>${pizza.descrizione}</p>
                            <img src="${pizza.immagine}" alt="${pizza.nome}"
                            <h4>${pizza.prezzo}€</h4>
                            <p style="color:red;" >${pizza.category.nome}</p>
                            <a href="Home/Show/${pizza.id}">Mostra dettagli</a>
                        </div>`;
                }else{
                    document.getElementById("container").innerHTML += 
                        `<div class="card">
                            <h2>${pizza.nome}</h2>
                            <p>${pizza.descrizione}</p>
                            <img src="${pizza.immagine}" alt="${pizza.nome}"
                            <h4>${pizza.prezzo}€</h4>
                            <a href="Home/Show/${pizza.id}">Mostra dettagli</a>
                        </div>`;
                }
            })
        })
    }
</script>