@using la_mia_pizzeria_static.Models

@{
    @model int

}


<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Torna al menù</a>

<div class="text-center">

    <div class="card" style="width: 80%;transform: translate(10%);">

    </div>
    
</div>

<script>

    const id = @Model;

    axios.get(`/api/Pizzas/${id}`).then((response) => {
        console.log(response);
            document.querySelector(".card").innerHTML +=

              `<img src="${response.data.immagine}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">${response.data.nome}</h5>
                <p class="card-text">${response.data.descrizione}</p>

            
                <h3>${response.data.prezzo} €</h3> 
              </div>`
    })
    //axios.get(`api/Pizzas/${id}`)
    //    .then((response) => {
    //        console.log(response);
    //        document.querySelector(".card").innerHTML +=

    //          `<img src="${response.data.immagine}" class="card-img-top">
    //          <div class="card-body">
    //            <h5 class="card-title">${response.data.nome}</h5>
    //            <p class="card-text">${response.data.descrizione}</p>

            
    //            <h3>${response.data.prezzo} €</h3> 
    //          </div>`
    //    })
</script>




      
